body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0px;
}

#result-image {
    margin-top: 20px;
    max-width: 100%;
}


section {
    height: 100vh;
    margin: 0px;
    display: flex;
    align-items: center;
}

aside {
    width: 30%;
    background-color: aqua;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form#upload-form {
    display: flex;
    margin-top: 100px;
    flex-direction: column;
}

h2#title {
    margin-top: -525px;
}

form#Buttons-form {
    display: flex;
    gap: 15px;
    box-sizing: border-box;
    flex-direction: column;
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: rgb(125, 223, 240);
}

div {
    width: 70%;
    height: 100vh;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}

#result-image {
    margin-top: 20px;
    max-width: 100%;
    max-height: 95vh;
}
