body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0px;
}

section {
    height: 100vh;
    margin: 0px;
    display: flex;
    align-items: center;
}

aside {
    width: 30%;
    background-color: aqua;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form#upload-form {
    display: flex;
    gap: 15px;
    flex-direction: column;
}

div {
    display: block;
    margin: 0 auto; /* Center the image */
    max-width: 100%; /* Responsive image scaling */
    height: auto; /* Maintain aspect ratio */
}

#result-image {
    display: block;
    max-width: 100%; /* Responsive image scaling */
    max-height: 95vh;
    margin: 0 auto; /* Center the image */
    height: auto; /* Maintain aspect ratio */
}